
<html lang="en">
<head>
  <title><%= page_title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="public/login_style/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
     $("document").ready(function()
    {
      var pageURL = document.location.origin;


          /* ----simple ajax without file upload feature------

           $('#regbtn').click(function()
          {
          //alert(pageURL);
          var name=$('#name').val();
          var email=$('#email').val();
          var pwd=$('#pwd').val();

          var data = {};
          data.name = name;
          data.email = email;

          $.ajax({
          type: 'POST',
          data: JSON.stringify(data),
          contentType: 'application/json',
                  url: 'http://127.0.0.1:3000/quick_register',            
                  success: function(data) {
                      console.log('success');
                      console.log(JSON.stringify(data));
                  }
              });

          });
         -------------------------------------------------- */

         //---------file upload ajax------------------------
      //   $("form").on('submit',(function(e) {
      //   e.preventDefault();
      //   $.ajax({
      //     url: pageURL+"/quick_register",
      //     type: "POST",
      //     data:  new FormData(this),
      //     contentType: false,
      //     cache: false,
      //     processData:false,
      //     success: function(data)
      //     {
      //       alert(data);

      //     },
      //     error: function() 
      //     {

      //     }           
      //   });
      // }));
});

  </script>
</head>
<body>
 <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
              <div class="response">
              <% if (locals.msg) { %>
                <h4 style="color: crimson;font-size: 11px"><%= msg %></h4>
                <script>
                //var pageURL = document.location.origin;
               // setTimeout(function(){ window.open(pageURL,'_self') }, 3000); 
                </script>
                <%  } %>
              </div>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="/sign_in" method="post" enctype="multipart/form-data">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="MYemail" name="email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="MYpwd" name ="pwd" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <a href="/sign_up" class="forgot-password">
               New User?Register</a>
        </div><!-- /card-container -->
    </div><!-- /container -->

</body>
</html>
